[Unit]
Description=NRV Frontend (Vite)
After=network.target

[Service]
Type=simple
User=himik
WorkingDirectory=/home/himik/nrv/frontend
ExecStart=/usr/bin/npm run dev
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
